#loginForm {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#loginForm label {
    display: block;
    margin-bottom: 10px;
    font-size: large;
}

#loginForm input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

#submitButton {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #555;
}

#userInfo {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-size: large;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}