.court {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  float: left;
}

.court ul {
  list-style-type: none;
  padding: 0;
}

.court ul li {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.court ul li button {
  flex: 1;
}

#personalReservations {
  float: left;
  padding: 10px;
}

#chooseDate {
  float: left;
  padding: 10px;
  padding-left: 20px;
}

#personalReservation {
  list-style-type: none;
  font-size: large;
}

#personalReservation li {
  display: flex;
  align-items: center;
}
#personalReservation li span {
  margin-right: 10px;
}

#personalReservation li button {
  margin-left: 10px;
}

#courtReservations {
  font-size: large;
}

main {
  padding: 20px;

  > div {
    display: flex;
    gap: 20px;
  }

  h1 {
    font-size: 18pt;
  }

  ul {
    padding: 0;
  }
}

select {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}
