.court{
    padding: 20px;
}

.courtHeading{
    font-weight: bold;
}

span {
    padding: 20px;
    font-size: 20pt;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
}
