<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCN</title>
    <link href="./stylesheets/styles.css" rel="stylesheet">
    <link href="./stylesheets/admin.css" rel="stylesheet">
    <script src="./js/vue.global.js"></script>
    <script src="./js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <header>
        <h1>Adminportal</h1>
        <nav>
            <ul>
                <li><a href="index.html">Zurück</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Alle Benutzer</h1>
            <table>
                <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Email</th>
                    <th>Rolle</th>
                    <th>Benutzer löschen</th>
                </tr>
                </thead>
                <tbody id="userList">
                <tr v-for="user in users">
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.mail}}</td>
                    <td>
                        <select @change="changeUserRole(user, $event.target.value)" id="changeUserRole">
                            <option :selected="user.role === 'standard'" value="standard">Standardbenutzer</option>
                            <option :selected="user.role === 'admin'" value="admin">Admin</option>
                        </select>
                    </td>
                    <td>
                        <button @click="removeUser(user.mail)">Entfernen</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h1>Benutzer hinzufügen</h1>
            <form @submit.prevent="registerAxios" id="addUserForm">
                <label for="registerFirstname">Vorname:</label>
                <input id="registerFirstname" required type="text" v-model="registerFirstname">
                <label for="registerLastname">Nachname:</label>
                <input id="registerLastname" required type="text" v-model="registerLastname">
                <label for="registerEmail">Email:</label>
                <input id="registerEmail" required type="email" v-model="registerEmail">
                <label for="registerRole">Rolle:</label>
                <select id="registerRole" v-model="registerRole">
                    <option value="standard">Standardbenutzer</option>
                    <option value="admin">Admin</option>
                </select>
                <label for="registerPassword">Passwort:</label>
                <input id="registerPassword" required type="password" v-model="registerPassword">
                <input id="registerButton" type="submit" value="Registrieren">
            </form>
        </div>
    </main>

    <script>
      const {createApp} = Vue;

      createApp({
        data: function () {
          return {
            registerFirstname: '',
            registerLastname: '',
            registerEmail: '',
            registerRole: 'standard',
            registerPassword: '',
            users: [
              {firstname: 'Michael', lastname: 'Haas', mail: 'user1@example.com', role: 'standard'},
              {firstname: 'Michael', lastname: 'Haas', mail: 'user1@example.com', role: 'standard'},
              {firstname: 'Michael', lastname: 'Haas', mail: 'user1@example.com', role: 'admin'},
            ],
            loggedIn: true,
            isAdmin: true,
            jwt: { // Retrieve JWT from local storage
              token: localStorage.getItem('jwt'),
              expiresAt: localStorage.getItem('expiresAt') ? new Date(+localStorage.getItem('expiresAt')) : null
            },
            apiUrl: `http://localhost:3003/api/`
          };
        },
        methods: {
          authorizationHeader() {
            return this.jwt.token ? {'Authorization': `Bearer ${this.jwt.token}`} : {};
          },
          changeUserRole(user, newRole) {
            axios.post(`${this.apiUrl}user/${encodeURIComponent(user.mail)}/${encodeURIComponent(newRole)}`, {}, {headers: this.authorizationHeader()})
              .then((response) => user.role = newRole)
              .catch(error => alert(`Failed to change user role\nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`));
          },
          registerAxios() {
            const url = 'http://localhost:3003/user_handling/register';
            axios.post(url, {
              firstname: this.registerFirstname,
              lastname: this.registerLastname,
              mail: this.registerEmail,
              pw: this.registerPassword,
              role: this.registerRole
            })
              .then(response => {
                this.users.push({
                  firstname: this.registerFirstname,
                  lastname: this.registerLastname,
                  mail: this.registerEmail,
                  role: this.registerRole
                });
                this.registerFirstname = '';
                this.registerLastname = '';
                this.registerEmail = '';
                this.registerRole = 'standard';
                this.registerPassword = '';
              })
              .catch(error => {
                console.error('Error:', error);
                alert(`Registration failed\nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`);
              });
          },
          fetchUsers() {
            axios.get(`${this.apiUrl}/user/all`, {headers: this.authorizationHeader()})
              .then(response => this.users = response.data)
              .catch(error => alert(`Failed to fetch all users \nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`));
          },
          removeUser(mail) {
            axios.delete(`${this.apiUrl}user/delete/${encodeURIComponent(mail)}`, {headers: this.authorizationHeader()})
              .then(() => this.users = this.users.filter(user => user.mail !== mail))
              .catch(error => alert(`Failed to delete user\nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`));
          }
        },
        mounted() {
          this.fetchUsers();
        }
      }).mount('#app');
    </script>

</div>
</body>
</html>
