<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCN</title>
    <link href="./stylesheets/styles.css" rel="stylesheet">
    <link href="./stylesheets/reservation.css" rel="stylesheet">
    <script src="./js/vue.global.js"></script>
    <script src="./js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <header>
        <h1>Tennisplatzreservierung</h1>
        <nav>
            <ul>
                <li><a href="index.html">Zurück</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <div class="court" v-for="court in courts">
                <h1>{{court.description}}</h1>
                <ul id="courtReservations">
                    <li v-for="i in Array(court.availabilityEndHour-court.availabilityStartHour).keys()">
                        <div style='text-align: center;'>
                            {{String(court.availabilityStartHour + i).padStart(2, '0')}}:00-{{court.availabilityStartHour + i + 1}}:00
                        </div>
                        <button :disabled="court.reservations.includes(court.availabilityStartHour+i) || court.unavailabilities.includes(court.availabilityStartHour+i)"
                                @click="addReservation(court, court.availabilityStartHour+i)">
                            {{court.reservations.includes(court.availabilityStartHour + i) ? 'Reserviert' : court.unavailabilities.includes(court.availabilityStartHour + i) ? 'Nicht verfügbar' : 'Reservieren'}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="chooseDate">
            <h1>Wähle das Datum aus</h1>
            <select id="dates" name="dates" v-model="selectedDate">
                <option :value="calculateDate(i)" v-for="i in Array(lookAheadDays).keys()">
                    {{dateToString(calculateDate(i))}}
                </option>
            </select>
        </div>
        <div id="personalReservations">
            <h1>Deine Reservierungen</h1>
            <ul id="personalReservation">
                <li v-for="reservation in personalReservations">
                    {{courts.find(court => court.id === reservation.courtId).description}}:
                    {{dateToString(reservation.date)}}
                    {{String(reservation.startHour).padStart(2, '0')}}:00-{{reservation.startHour + 1}}:00
                    <button @click="deleteReservation(reservation)">Entfernen</button>
                </li>
            </ul>
        </div>
    </main>
</div>
<script>
  const {createApp} = Vue;

  createApp({
    data: function () {
      return {
        startDate: new Date(),
        selectedDate: new Date(),
        lookAheadDays: 7,
        courts: [
          {
            id: 1,
            description: 'Platz 1',
            availabilityStartHour: 10,
            availabilityEndHour: 20,
            reservations: [
              11, 12
            ],
            unavailabilities: [
              13, 14
            ]
          },
        ],
        personalReservations: [
          {
            id: 1,
            courtId: 1,
            date: new Date(),
            startHour: 11,
          }
        ],
        jwt: { // Retrieve JWT from local storage
          token: localStorage.getItem('jwt'),
          expiresAt: localStorage.getItem('expiresAt') ? new Date(+localStorage.getItem('expiresAt')) : null
        },
        apiUrl: '/data/api/',
        ws: null
      };
    },
    methods: {
      calculateDate: function (offset) {
        let newDate = new Date(this.startDate);
        newDate.setDate(this.startDate.getDate() + offset);
        newDate.setHours(0, 0, 0, 0);
        return newDate;
      },
      dateToString: function (date) {
        return date.getDate().toString().padStart(2, '0') + '.' + (date.getMonth() + 1).toString().padStart(2, '0') + '.' + date.getFullYear();
      },
      addReservation: function (court, hour) {
        axios.post(`${this.apiUrl}court/reservation/add`, {
          courtId: court.id,
          date: this.selectedDate.getTime(),
          startHour: hour
        }, {headers: this.authorizationHeader()})
          .then(() => {
              this.fetchPersonalReservations();
            }
          )
          .catch(error => alert(`Failed to add reservation\nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`));
      },
      deleteReservation: function (reservation) {
        axios.delete(`${this.apiUrl}court/reservation/delete/${encodeURIComponent(reservation.id)}`, {headers: this.authorizationHeader()})
          .then(() => {
            this.fetchPersonalReservations();
          })
          .catch(error => alert(`Failed to delete reservation\nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`));
      },
      authorizationHeader() {
        return this.jwt.token ? {'Authorization': `Bearer ${this.jwt.token}`} : {};
      },
      fetchCourts() {
        return axios.get(`${this.apiUrl}court/all/${encodeURIComponent(this.selectedDate.getTime())}`, {headers: this.authorizationHeader()})
          .then(response => this.courts = response.data)
          .catch(error => alert(`Failed to fetch all courts \nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`));
      },
      fetchPersonalReservations() {
        return axios.get(`${this.apiUrl}court/reservation/${encodeURIComponent(this.selectedDate.getTime())}`, {headers: this.authorizationHeader()})
          .then(response => {
            response.data.forEach(reservation => reservation.date = new Date(reservation.date));
            this.personalReservations = response.data;
          })
          .catch(error => alert(`Failed to fetch all personal reservations \nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`));
      },
      setupWebsocketClient() {
        try {
          const websocket = new WebSocket('/ws/');
          this.ws = websocket;
          vue = this;

          websocket.onmessage = function (event) {
            const message = JSON.parse(event.data);
            if (message.entity === 'reservation') {
              switch (message.op) {
                case 'add':
                  reservations = vue.courts.find(court => message.data.courtId === court.id).reservations;
                  if (!reservations.includes(message.data.startHour)) {
                    reservations.push(message.data.startHour);
                  }
                  break;
                case 'delete':
                  court = vue.courts.find(court => message.data.courtId === court.id);
                  if (court.reservations.includes(message.data.startHour)) {
                    court.reservations = court.reservations.filter(item => item !== message.data.startHour);
                  }
                  break;
              }
            }
          };

          websocket.onerror = function (event) {
            alert('Error occurred while connecting to the WebSocket server');
          };

        } catch (ex) {
          alert(ex);
        }
      },

    },

    created() {
      this.selectedDate.setHours(0, 0, 0, 0);
    },
    mounted: async function () {
      await this.fetchCourts();
      await this.fetchPersonalReservations();
      this.setupWebsocketClient();
    },
    watch: {
      selectedDate: async function (newValue, oldValue) {
        await this.fetchCourts();
        await this.fetchPersonalReservations();
      }
    }
  }).mount('#app');
</script>

</body>
</html>
