h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: large;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}


button, #registerButton {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, #registerButton:hover {
    background-color: #555;
}

main > div {
    padding-bottom: 20pt;
}

main h1 {
    font-size: 18pt;
}


#addUserForm {
    max-width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#addUserForm label {
    display: block;
    margin-bottom: 10px;
    font-size: large;
}

#addUserForm input,select {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

#addUserForm button {
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addUserForm button:hover {
    background-color: #555;
}